<div class="container">

  <h1>Hello SIMPLE TODOList / Auteur : Laurent PAYA</h1>
  
  <button (click)="addTask()">Ajouter une tache</button>
  <button>Vider la liste</button>
  
  <code>
    <pre>
      {{todolist | json}}
      {{donelist | json}}
    </pre>
  </code>

  <hr>

  <div class="d-flex">
    <!-- INSERER LES COMPONENTS <app-todolist></app-todolist> -->
    <div class="col-50">
      <!-- on passe le tableau à l'enfant -->
      <app-todolist [list]="todolist" (doneEvent)="onDoneEventTodolist($event)"></app-todolist>
    </div>
    
    <!-- INSERER LES COMPONENTS <app-donelist></app-donelist> -->
    <div class="col-50">
      <app-donelist [list]="donelist" 
      (doneEvent)="onDoneEventDonelist($event)" 
      (deleteEvent)="onDeleteEventDonelist($event)"></app-donelist>
    </div>
  </div>
    <!-- INSERER LES COMPONENTS <app-deletelist></app-deletelist> -->
    <div class="col-50">
      <!-- on passe le tableau à l'enfant -->
      <app-deletelist [list]="deletelist" ></app-deletelist>
    </div>
  
</div>
